version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: trading-postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: trading_user
      POSTGRES_PASSWORD: trading_pass
      POSTGRES_DB: trading_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
